!!!!!!!!!!!!!!!!!!
!!! BASIC INFO !!!
!!!!!!!!!!!!!!!!!!
!
! Maintainer: AffanIndo
!
! Inspired by: http://dotshare.it/dots/1011/
!
! Sections:
!    -> FONT
!    -> SCROLLBAR AND CURSOR
!    -> TABS
!    -> COLOR
!    -> MISC

!!!!!!!!!!!!
!!! FONT !!!
!!!!!!!!!!!!

! Font selection
! URxvt.font:xft:DeJavu Sans Mono:pixelsize=15
! URxvt.boldFont:xft:DeJavu Sans Mono:bold:pixelsize=15
! URxvt.italicfont:xft:DeJavu Sans Mono:italic:pixelsize=15
! URxvt.bolditalicFont:xft:DeJavu Sans Mono:bold:italic:pixelsize=15
URxvt.font:xft:DeJavu Sans Mono for Powerline:pixelsize=15
URxvt.boldFont:xft:DeJavu Sans Mono for Powerline:bold:pixelsize=15
URxvt.italicfont:xft:DeJavu Sans Mono for Powerline:italic:pixelsize=15
URxvt.bolditalicFont:xft:DeJavu Sans Mono for Powerline:bold:italic:pixelsize=15
URxvt*letterSpace: -1
URxvt*allow_bold: true

! Font configuration
Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!! SCROLLBAR AND CURSOR !!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

URxvt*saveLines: 300000
URxvt.scrollBar: false
!URxvt*scrollstyle: plain
URxvt*cursorBlink: true
URxvt*cursorUnderline: false

!!!!!!!!!!!!
!!! TABS !!!
!!!!!!!!!!!!

URxvt.tabbedex.autohide: yes
URxvt.tabbedex.tabbar-fg: 2
URxvt.tabbedex.tabbar-bg: 0
URxvt.tabbedex.tab-fg: 10
URxvt.tabbedex.tab-bg: 0
URxvt.tabbedex.title: yes
URxvt.tabbedex.new-button: no


!!!!!!!!!!!!!
!!! COLOR !!!
!!!!!!!!!!!!!

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! ! special
! *.foreground: #93a1a1
! *.background: #3c3b37
! *.cursorColor: #93a1a1

! ! black
! *.color0: #5f5f5f
! *.color8: #828282

! ! red
! *.color1: #d96468
! *.color9: #d98f93

! ! green
! *.color2: #a2d964
! *.color10: #b8d98f

! ! yellow
! *.color3: #d9c964
! *.color11: #d9cf8f

! ! blue
! *.color4: #64a2d9
! *.color12: #8f99d9

! ! magenta
! *.color5: #9a64d9
! *.color13: #b08fd9

! ! cyan
! *.color6: #64d9d5
! *.color14: #8fd9d5

! ! white
! *.color7: #989898
! *.color15: #c5c5c5

!!!!!!!!!!!!
!!! MISC !!!
!!!!!!!!!!!!

! Window size
URxvt.geometry: 80x22

! Disable picture insert mode
URxvt.iso14755: False

! Disable bell
URxvt.insecure: false

